# dependencies
node_modules/

# Playwright / test outputs
test-results/
playwright-report/
playwright/.cache/

# build outputs (if you ever add build step)
dist/
build/

# OS / editor
.DS_Store
.vscode/

# secrets / sensitive test data
utils/cookies/youtube-cookies.json
utils/cookies/google-cookies.json
utils/hashtags.ts